@import "../../../styles.scss";


.card {
    background-image: linear-gradient(to right, $secondary-color , $primary-color);
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}

//for mobile
@media screen and (max-width: 480px) {
    
        .card {
            padding-top: 10px;
        
            h3{
                font-size: large;
            }
            .plain-text{
                font-size: small;
            }
        }
}