<div class="full-div">
    <div class="content-div container">
        <section id="work-experience">
            <div class="row section-title">
                <p class="title-text">WORK EXPERIENCE</p>
            </div>
            <div class="section-content">
                <div *ngFor="let exp of data.WorkExperiences | orderBy: 'OrderInUI'">
                    <app-experience [exp]="exp"></app-experience>
                    <div class="custom-hr"></div>
                </div>
            </div>
        </section>

        <section id="education">
            <div class="row section-title">
                <p class="title-text">EDUCATION</p>
            </div>
            <div class="section-content row">
                <div class="col-md-4 col-xs-12 tile-section-single-div" *ngFor="let edu of data.Educations">
                    <div class="edu-tile-full" data-aos="flip-left"
                    data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000">
                        <div class="edu-tile-inside">
                            <p class="edu-tile-image"><span><i class="fas fa-landmark edu-tile-image-icon"></i></span></p>
                            <div class="edu-tile-content">
                                <h4 class="themed-text">{{edu.CourseName}}</h4>
                                <p class="plain-text">{{edu.InstituteName}} , {{edu.Location}}</p>
                                <p class="plain-text">{{edu.StartDate.toString() | date: 'YYYY'}} - {{edu.EndDate.toString() | date: 'YYYY'}}</p>
                                <p class="plain-text">{{edu.Stream}}</p>
                                <p class="plain-text">Percentage: <b>{{edu.Percentile}}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>