@import "../../../styles.scss";

.full-div {
    height: 92vh;
    background-image: url("../../../assets/img/Main-Desktop-Background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
.content-div {
    //background-image: linear-gradient(to top, rgba(0,196,204, 0.5), rgba(45,18,124, 0.5));
    background-color: rgba($color: #000000, $alpha: 0.5 );
    height: 92vh;
}

.texth{
    color: White;
}
