<div class="full-div">
    <div class="content-div container">
        <section id="aboutme">
            <div class="container">
                <div class="row section-title">
                    <p class="title-text">ABOUT ME</p>
                </div>
                <div class="row section-content">
                    <div class="pic-content col-md-3 col-xs-12">
                        <img src="../../../assets/img/secondary-pic.jpg" class="col-md-12 pic-img">
                    </div>
                    <div class="intro-content col-md-9 col-xs-12">
                        <h3 class="primary-name-text">Hello! I am {{data.FullName}}</h3>
                    </div>
                </div>
            </div>
        </section>
        <section id="skills">

        </section>
        <section id="interests">

        </section>
    </div>
</div>