
$primary-color:#00c4cc;
$secondary-color:#2D127C;
$primary-light-color: #fafafa;
$primary-dark-color: #0d0d0d;

#navbar{
    background-color: $primary-light-color;
    color: $primary-dark-color;
}

.navbar-toggler-option{
    background: -webkit-linear-gradient($secondary-color, $primary-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: large;
}

.custom-nav-menu{
    margin: 0px 20px 0px 20px;
    font-weight: bold;
}

.activeNav{
    border-bottom: 5px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, $primary-color, $secondary-color);
}

//for mobile
@media screen and (max-width: 480px) {
    .custom-navbar-nav{
        .custom-nav-div{
            ul{
                min-height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                li{
                    border-bottom: 1px solid gray;
                    margin-bottom: 20px;
                    margin-top: 10px;
                    font-size: x-large;
                    background: -webkit-linear-gradient($secondary-color, $primary-color);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                li:first-child{
                    margin-top: -100px;
                }
            }
        }
    }
}

//for laptops
@media screen and (min-width: 768px) {
    .custom-navbar-nav{
        height: 60px;
        padding-top: 0px;
        .nav-link:not(.activeNav):hover{
            box-shadow: 5px 5px 5px #888888;
            background-color: white;
            border-radius: 15px;
            border: 1px solid gainsboro;
            margin: -1px;
        }
    }
}

