@import "../../../styles.scss";

@import "../skills/skills.component.scss";

.flip-card {
    height: 150px;
    perspective: 1000px;

    .tech-img{
        width: 100%;
        height: 60px;
        max-width: 100px;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
      
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
      
    .flip-card-front {
        background-color: rgba(255,255,255,0.2);
        color: white;
        padding-top: 20px;
        text-align: center;
    }
      
    .flip-card-back {
        background-image: linear-gradient(to right, $secondary-color , $primary-color);
        color: white;
        transform: rotateY(180deg);
        padding-top: 20px;
    }

    h4{
        margin-top: 10px;
    }
}
  
.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

//for mobile
@media screen and (max-width: 480px) {
    .flip-card {
        height: 100px;
        .tech-img{
            width: 100%;
            height: 50px;
            max-width: 60px;
        }
        h4{
            font-size: small;
        }
        .flip-card-front {
            padding-top: 8px;
        }
          
        .flip-card-back {
            padding-top: 10px;
        
            h3{
                font-size: large;
            }
            .plain-text{
                font-size: small;
            }
        }
        
    }
}