<section id="home-section">
    <div class="container center-content">
        <h3 id>Hi👋, I'm <b id="full-name-text">{{data.FullName}}</b></h3>
        <img class="img-fluid rounded-circle profile-pic" [src]="data.ProfilePicURL" alt="Profile Pic" width="150">
        <h3 id="home-into-text">{{intoText}}<span id="home-cursor-span"><h1 id="home-custom-cursor">I</h1></span></h3>

        <div id="social-media-div">
            <a [href]="data.SocialMediaLinks[2]" target="_blank"><i class="fab fa-github font-awesome-icon" aria-hidden="true"></i></a>
            <a [href]="data.SocialMediaLinks[1]" target="_blank"><i class="fab fa-linkedin-in font-awesome-icon" aria-hidden="true"></i></a>
            <a [href]="data.SocialMediaLinks[0]" target="_blank"><i class="fab fa-facebook font-awesome-icon" aria-hidden="true"></i></a>
            <a [href]="data.SocialMediaLinks[6]" target="_blank"><i class="fab fa-google-plus font-awesome-icon" aria-hidden="true"></i></a>
            <a [href]="data.SocialMediaLinks[3]" target="_blank"><i class="fab fa-twitter font-awesome-icon" aria-hidden="true"></i></a>
            <a [href]="data.SocialMediaLinks[4]" target="_blank"><i class="fab fa-hackerrank font-awesome-icon" aria-hidden="true"></i></a>
        </div>
    </div>
</section>

<section id="leetcode-section">
    <div class="container">
        <div class="row section-title">
            <p class="title-text">LeetCode</p>
        </div>
        <div class="row dashboard">
            <div class="pie-chart" *ngIf="!!seriesData && seriesData.length > 0">
                <app-3D-donut-chart [seriesData]="seriesData" seriesName="Solved"></app-3D-donut-chart>
            </div>
            <div class="stats">
                <app-stats-card *ngFor="let statsFigure of statsFigures; trackBy:trackByStatsFigure" [statsFigure]="statsFigure" ></app-stats-card>   
            </div>
        </div>
    </div>
</section>