
$primary-color:#00c4cc;
$secondary-color:#2D127C;

#home-section{
    height: 100%;
    min-height: 92vh;
    background-color: rgb(221, 228, 236);

    .center-content{
        width: 100%;
        padding-top: 60px;
        text-align: center;
        
        #home-custom-cursor{
            display: inline-block;
            position: relative;
            top: 4px;
            animation-name: blink;
            animation-duration: 800ms;
            animation-iteration-count: infinite;
            opacity: 1;
        }
        
        .profile-pic{
            margin-top: 20px;
            margin-bottom: 20px;
        }

        #full-name-text{
            background: -webkit-linear-gradient($secondary-color, $primary-color);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        #social-media-div{
            margin-top: 50px;
            
            .font-awesome-icon{
                font-size: 3em;
                margin: 10px 15px 10px 15px;
                color:black;
                background: -webkit-linear-gradient($secondary-color, $primary-color);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                
            }
            
            .font-awesome-icon:hover{
                transform: scale(1.2);
                background: -webkit-linear-gradient($primary-color, $secondary-color);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        
        @keyframes blink {
            0%   {opacity: 1;}
            50%  {opacity: 0;}
            100% {opacity: 1;}
        }
    }
}

#leetcode-section{
    margin-top: 20px;
    width: 100%;
    min-height: 92vh;
    height: 100%;
    
    .spinner-border{
        position: relative;
        left: 50%;
        margin-left: -50px;
        margin-top: 150px;
        width: 100px;
        height: 100px;

    }

    .dashboard{
        .pie-chart{
            width: 40%;
        }
        .stats{
            width: 60%;
            app-stats-card{
                display: inline-block;
                width: 30%;
                margin: 10px;
            }
        }
        .plain-text{
            margin-bottom: 0em;
            color:white;
        }
    }

    .recent-submission{
        margin-top: 20px;
        .title-text{
            margin-bottom: 5px;
        }
    }

}

@media screen and (max-width: 480px) {
    #home-into-text{
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    #home-custom-cursor{
        font-size: 27px;
    }
    .font-awesome-icon{
        font-size: 2em;
        margin: 10px;
    }
    .profile-pic{
        margin-top: 30px;
    }
    #social-media-div{
        margin-top: 10px;
    }
    #leetcode-section{
    
        .spinner-border{
            position: relative;
            left: 50%;
            margin-left: -40px;
            margin-top: 120px;
            width: 80px;
            height: 80px;
        }

        .dashboard{
            .pie-chart{
                width: 100%;
            }
            .stats{
                width: 100%;
                app-stats-card{
                    width: 45%;
                    margin: 0px;
                    margin-left: 3%;
                }
                margin-bottom: 10px;
            }
        }
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 1024px){
    
    #leetcode-section{
        width: 100%;
        min-height: 92vh;

        .spinner-border{
            position: relative;
            left: 50%;
            margin-left: -30px;
            width: 60px;
            height: 60px;
            margin-top: 120px;
        }

        .dashboard{
            .pie-chart{
                width: 50%;
            }
            .stats{
                width: 50%;
                app-stats-card{
                    width: 40%;
                    margin-left: 6%;
                }
            }
        }

    }
}