<div class="full-div">
    <div class="content-div container">
        <section id="projects">
            <div class="row section-title">
                <p class="title-text">PROJECTS</p>
            </div>
            <div class="row section-content">
                <div class="col-md-4 col-12 proj-main-tile-div" *ngFor="let proj of data.Projects">
                    <div class="col-md-12 col-12 proj-tile-div" data-aos="flip-left"
                    data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000">
                        <div class="tile-logo-div">
                            <i class="fas" [title]="proj.ProjectType" [ngClass]="proj.FontAwesomeClass"></i>
                        </div>
                        <div class="proj-tile-content">
                            <h4 class="themed-text">{{proj.Title}}</h4>
                            <div class="proj-description-div">
                                <p class="plain-text">{{proj.Description}}</p>
                            </div>
                            <div class="link-time-div row">
                                <div class="link-time-left-div col-md-5 col-5">
                                    <a [href]="proj.RepoLink" target="_blank" *ngIf="proj.RepoLink !==''"><i class="fab fa-github"></i></a>
                                    <a [href]="proj.HostLink" target="_blank" *ngIf="proj.HostLink"><i class="fas fa-rocket"></i></a>
                                </div>
                                <div class="link-time-right-div col-md-7 col-7">
                                    <p class="plain-text">({{proj.StartDate.toString() | date: 'MMM YYYY'}} - {{proj.EndDate.toString() | date: 'MMM YYYY'}})</p>
                                </div>
                            </div>
                            <div class="tech-tag-div row">
                                <div class="single-tag-div" *ngFor="let tech of proj.Technologies">
                                    <p>{{tech}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>