
$primary-color:#00c4cc;
$secondary-color:#2D127C;

.full-div {
    min-height: 92vh;
    .content-div {
        background-color: rgba($color: #000000, $alpha: 0.5 );
        padding: 20px;
        .title-text{
            margin-bottom: 0px;
        }
    }
    .themed-text{
        background: -webkit-linear-gradient($primary-color, white);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        margin-bottom: 0em;
        text-align: center;
    }
    
    .plain-text{
        margin-bottom: 0em;
        color:white;
    }
    .skill-card{
        margin-top: 20px;
    }
    
    .info-text-div{
        margin-top: 20px;
    }
    
    #certifications{
        margin-top: 20px;
    }
  }



//For Mobile
@media screen and (max-width: 480px) {
    .info-text{
        margin-top: 10px;
        font-size: smaller;
    }
}

//for laptops
@media screen and (min-width: 768px) {
    .info-text{
        margin-top: 50px;
        font-size: smaller;
    }
}