/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

// Global Colors

$primary-light-color: #fafafa;
$primary-dark-color: #0d0d0d;
$primary-color:#00c4cc;
$secondary-color:#2D127C;

$primary-darktheme-color: #18d26e;
$primary-darktheme-color: #0d0d0d;

body { 
    padding-top: 50px; 
    font-family: 'Poppins', sans-serif;
}